body{
  background-image: url(../images/abb.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron{
  background-image: url(../images/jumbo.jpg);

}

img{
  border-radius: 50%;
}

p{
  font-style: italic;
  font-size: 45px;
}
