body{
  background-image: url(../images/abb.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.jumbotron{
  background-image: url(../images/jumbo.jpg);

}

img{
  border-radius: 50%;
  height: 300px;
}

p{
  font-style: italic;
  font-size: 45px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
