
.jumbotron{
  background-color: black;
  color: purple;
  font-style: italic;
  font-family: cursive;
}

h1{
  text-align: center;
  font-style: italic;
  font-family: cursive;
}

body{
  background-image: url(../images/old.jpg);
  background-size: cover;
}
