
.jumbotron{
background-image: url(../images/g.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body{
  background-image: url(../images/jk.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  text-align: center;
  font-style: italic;
  color: purple;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    cursor: cell;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

img{
  width: 500px;
  margin-left: 200px;
  margin-top: 200px;
  border-radius: 50%;
  height: 300px;
}

.dropdown {
    position: relative;
    display: inline-block;
    font-size: 45px;
    color: white;
    font-family: cursive;
    margin-left: 200px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.desc {
    padding: 15px;
    text-align: center;
}
